---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Welcome | Blog | AcidMal">
  <div class="max-w-4xl mx-auto">
    <h1 class="text-4xl font-bold mb-8">﻿Blog Post from 27/12/2024</h1>
      <div class="grid gap-8">
	<section class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg">

	<h1 class="text-4xl font-bold mb-8">Welcome!</h1>

		<p class="mb-6">
		This is just a first post of many to come. Although infrequent this will be longer
		format platform.
		</p>

	<h2 class="text-2xl font-bold mb-6">Purpose</h2>
		<p class="mb-6">
		I&#39;ll mainly use this to post updates on projects I have, one of which is this
		website. Ill also ramble on about random daily stuff and hobbies such as my Amateur Radio
		hobby.
		</p>

	<h2 class="text-2xl font-bold mb-6">Website Development</h2>
		<p class="mb-6">
		At the moment I have just started developing this website using <a href="https:/
		/astro.build/">Astro</a>. Its very minimal at the moment but with further learning I want
		to expand this website out further.
		</p>

	<h2 class="text-2xl font-bold mb-6">Minecraft Server</h2>
		<p class="mb-6">
		As mentioned in the <a href="https://acidmal.com/">Homepage</a> I have been working on a
		Minecraft Server. It currently runs a mod pack called ATM (All The Mods) 10 and we have a
		panel called <a href="https://pterodactyl.io/">Pterodactyl Panel</a> as the administration
		panel.
		</p>

		<p class="mb-6">
		I may have made a little mistake with the choice in hosting provider which doesn&#39;t
		have a high enough CPU clock speed which at the moment is a hindrance. Next on the To-Do
		list is to change the hosting provider as well as update some of the configurations so the
		server runs just that tad bit smoother.
		</p>

	<h2 class="text-2xl font-bold mb-6">Closing</h2>
		<p>
		In future ill probably update this every month or so with news but not too sure yet.
		Feel free to message me on my social media platforms if you have any questions or
		improvements!
		</p>
		
		<p>Goodbye for now.</p>
    </section>
   </div>
  </div>
</Layout>

