---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Minecarft | Gallary | AcidMal">
  <div class="max-w-4xl mx-auto">
    <h1 class="text-4xl font-bold mb-8">Minecraft Server Memories</h1>
      <div class="grid gap-8">
        <section class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg">
          <h2 class="text-2xl font-bold mb-4">Gallary</h2>
	    <p class="text-gray-600 dark:text-gray-300 mb-8">
	      A little collection of memories on the Minecraft Server!
	    </p>
          <a href="https://cdn.acidmal.com/2024-12-23_12.59.41.png" target="_blank">
            <img src="https://cdn.acidmal.com/2024-12-23_12.59.41.png" class="rounded-xl mb-1 ease-in-out duration-300 hover:scale-105 hover:duration-300 hover:ease-in-out">
          </a>
          <p class="text-gray-600 dark:text-gray-300 mb-5">Night Sky Over Spawn</p>
          <a href="https://cdn.acidmal.com/2024-12-23_16.45.26.png" target="_blank">
            <img src="https://cdn.acidmal.com/2024-12-23_16.45.26.png" class="rounded-xl mb-1 ease-in-out duration-300 hover:scale-105 hover:duration-300 hover:ease-in-out">
          </a>
          <p class="text-gray-600 dark:text-gray-300 mb-5">Sky Sheep that confused AcidMal and 10Peice</p>
          <a href="https://cdn.acidmal.com/2024-12-28_19.39.52.png" target="_blank">
            <img src="https://cdn.acidmal.com/2024-12-28_19.39.52.png" class="rounded-xl mb-1 ease-in-out duration-300 hover:scale-105 hover:duration-300 hover:ease-in-out">
          </a>
          <p class="text-gray-600 dark:text-gray-300 mb-5">Snowy Ridge near Acid's</p>

<!-- Sample Code for new Images -->

<!--
            <img src="<Add Image Here>" class="rounded-xl mb-1">
            <p class="text-gray-600 dark:text-gray-300 mb-5">sample text</p>
-->           
        </section>
      </div>
  </div>
</Layout>
