---
import Layout from '../layouts/Layout.astro';
import SocialButtons from '../components/SocialButtons.astro';
---

<Layout title="About | AcidMal">
  <div class="max-w-4xl mx-auto">
    <h1 class="text-4xl font-bold mb-8">About AcidMal</h1>
    <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg">
      <p class="text-gray-600 dark:text-gray-300 mb-4">
        Welcome to my website. This is a website where I share my learning in Web Development and other
        personal projects. Since a lot of these projects are passion projects they may be infrequent but
        feel free to check in whenever you feel like. If you want more frequent updates about projects and
        my rambles feel free to check out my social media pages.
      </p>

      <p class="text-gray-600 dark:text-gray-300">
        Ill occasionally update blog posts with my learning progress and any updates to this site which will
        constantly be in development. Feel free to message me on any of my platforms if you have any questions or
        queries. 
      </p>
    </div>
  </div>
</Layout>


