---
import Layout from '../layouts/Layout.astro';
import TwitterFeed from '../components/TwitterFeed';
---

<Layout title="Home | AcidMal">
  <div class="max-w-4xl mx-auto">
    <h1 class="text-4xl font-bold mb-8">Welcome to AcidMal's Thought Vault</h1>
    <div class="grid gap-8">
      <section class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg">
        <h2 class="text-2xl font-bold mb-4">About This Site</h2>
        <p class="text-gray-600 dark:text-gray-300">
          This is my personal website. It is a collection of all my projects and ideas within projects.
          I'll mostly post on social media but when I have a bigger project I'll update this site with
          guides, my processes and just general rambles.
        </p>
      </section>

      <section class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg">
        <h2 class="text-2xl font-bold mb-4">Current Project</h2>
        <p class="text-gray-600 dark:text-gray-300">
          I'm currently building a fully self-hosted email service using 
          <a 
          href="https://mailcow.email/" 
          target="_blank"
	        class="text-purple-400 ease-in-out duration-300 hover:ease-in-out hover:duration-300 hover:text-purple-600 dark:text-purple-400 
          hover:ease-in-out hover:duration-300 dark:hover:text-purple-300">
	        MailCow</a>, 
          an open-source email server solution. This project gives me complete control over the entire email infrastructure, 
          providing a secure, private, and customizable email experience without relying on third-party providers. By using 
          MailCow, I'm able to set up a feature-rich email server with capabilities such as advanced spam filtering, email 
          encryption, and seamless integration with modern email clients. The platform allows me to manage everything from 
          mailboxes to security settings, including custom domains, email routing, and more—all through an intuitive web interface.
        </p>
      </section>

      <section class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg">
        <h2 class="text-2xl font-bold mb-4">Older Project</h2>
        <p class="text-gray-600 dark:text-gray-300">

          I'm currently working on the development of a Modded Minecraft Server which started out as a
          casual idea but has evolved with the collaborative efforts of many community members, including
          <a 
          href="https://mynameistito.com/" 
          target="_blank" 
          class="text-purple-400 ease-in-out duration-300 hover:ease-in-out hover:duration-300 hover:text-purple-600 dark:text-purple-400 
          hover:ease-in-out hover:duration-300 dark:hover:text-purple-300">
          Tito
          </a>
          . This server employs the modpack ATM (All The Mods) 10 and serves a community where a 
          significant number of players are from the
          <a 
          href="https://discord.gg/kzg" 
          target="_blank" 
          class="text-purple-400 ease-in-out duration-300 hover:ease-in-out hover:duration-300 hover:text-purple-600 dark:text-purple-400
          hover:ease-in-out hover:duration-300 dark:hover:text-purple-300">
          KZG
          </a>
          community, offering them an enhanced Minecraft experience through various mods. Additionally, to improve
          management efficiency, we have integrated an administration panel utilizing
          <a 
          href="https://pterodactyl.io/" 
          target="_blank" 
          class="text-purple-400 ease-in-out duration-300 hover:ease-in-out hover:duration-300 hover:text-purple-600 dark:text-purple-400 
          hover:ease-in-out hover:duration-300 dark:hover:text-purple-300">
          Pterodactyl Panel
        </a>,
          which allows staff to manage and oversee server utilities with ease.

        </p>
      </section>

      <section class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg">
	<div class="grid grid-cols-2 gap-4">
	  <div>
          <h2 class="text-2xl font-bold mb-4">Join the Minecraft</h2>
          <ul class="list-disc list-inside text-gray-600 dark:text-gray-300 space-y-2">
            <li>IP: join.acidmal.com</li>
            <li>Minecraft Version: 1.21.1</li>
            <li>Mod Pack: 
	            <a 
              href="https://www.curseforge.com/minecraft/modpacks/all-the-mods-10/files/6009022" 
              target="_blank"
	            class="text-purple-400 ease-in-out duration-300 hover:ease-in-out hover:duration-300 hover:text-purple-600 dark:text-purple-400 
              hover:ease-in-out hover:duration-300 dark:hover:text-purple-300">
	            All the Mods 10 - 2.8</a> 
            </li>
	          <li>Check out our Server 
              <a 
              href={`/gallary/minecraft`} 
              class="text-purple-400 ease-in-out duration-300 hover:ease-in-out hover:duration-300 hover:text-purple-600 dark:text-purple-400 
              hover:ease-in-out hover:duration-300 dark:hover:text-purple-300">
              Gallary</a>!
            </li>
          </ul>
	  </div>
    <div class="bg-white dark:bg-gray-600 p-6 rounded-lg shadow-lg">
      <p class="text-gray-600 dark:text-gray-300 mb-4">
        Hi Everyone!
      </p>
      <p class="text-gray-600 dark:text-gray-300 mb-4">
        Thanks for participating in the Server. Unfortnately due to low player counts coming to the end of the server renewal I have decided it would be best to
        discontinue the server for now.
      </p>
      <p class="text-gray-600 dark:text-gray-300 mb-4">
        In future if a big enough user base is establised I will evaluate bringing the server back again. Best of luck and godspeed.
      </p>
      <p class="text-gray-600 dark:text-gray-300">
        AcidMal &#60;3
      </p>
    </div>  
	</div>
      </section>
      <section class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg">
        <TwitterFeed client:load />
      </section>
    </div>
  </div>
</Layout>


