---
import Layout from '../layouts/Layout.astro';
import TwitterFeed from '../components/TwitterFeed';
---

<Layout title="Home | AcidMal">
  <div class="max-w-4xl mx-auto">
    <h1 class="text-4xl font-bold mb-8">Welcome to AcidMal's Thought Vault</h1>
    <div class="grid gap-8">
      <section class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold mb-4">About This Site</h2>
        <p class="text-gray-600 dark:text-gray-300">
          This is my personal website. It is a collection of all my projects and ideas within projects.
          I'll mostly post on social media but when I have a bigger project I'll update this site with
          guides, my processes and just general rambles.
        </p>
      </section>

      <section class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold mb-4">Current Project</h2>
        <p class="text-gray-600 dark:text-gray-300">
          Im currently working on the development of a Modded Minecraft Server which started out as a
          casual idea but has evolved with the collaborative efforts of many community members, including
          <a href="https://mynameistito.com/" target="_blank" style="color:#d358f5">Tito</a>. This server
          employs the modpack ATM (All The Mods) 10 and serves a community where a significant number of
          players are from the 
          <a href="https://discord.gg/kzg" target="_blank" style="color:#d358f5">KZG</a> community,
          offering them an enhanced Minecraft experience through various mods. Additionally, to improve
          management efficiency, we have integrated an administration panel utilizing 
          <a href="https://pterodactyl.io/" target="_blank" style="color:#d358f5">Pterodactyl Panel</a>,
          which allows staff to manage and oversee server utilities with ease.
        </p>
      </section>

      <section class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold mb-4">Join the Minecraft</h2>
        <ul class="list-disc list-inside text-gray-600 dark:text-gray-300 space-y-2">
          <li>IP: join.acidmal.com</li>
          <li>Minecraft Version: 1.21.1</li>
          <li>Mod Pack: All the Mods 10 - 2.8</li>
        </ul>
      </section>
       <section class="mt-8">
          <TwitterFeed client:load />
      </section>
    </div>
  </div>
</Layout>


