---
import { Github, Instagram } from 'lucide-react';
import { Discord, X } from 'simple-icons-astro';

interface Props {
  className?: string;
}

const { className = '' } = Astro.props;

---

<div class:list={["flex space-x-4", className]}>
  <a
    href="https://twitter.com/iamacidmal"
    class="social-button"
    aria-label="X"
  >
    <X className="w-5 h-5" />
  </a>
  <a
    href="https://instagram.com/in/iamacidmal"
    class="social-button"
    aria-label="Instagram"
  >
    <Instagram className="w-5 h-5" />
  </a>
  <a
    href="https://discord.com/users/272313925205360641"
    class="social-button"
    aria-label="Discord"
  >
    <Discord className="w-5 h-5" />
 </a>
  <a
    href="https://github.com/acidmal"
    class="social-button"
    aria-label="GitHub"
  >
    <Github className="w-5 h-5" />
  </a>
</div>

<style>
  .social-button {
    @apply p-2 rounded-full bg-gray-300 dark:bg-gray-700 text-gray-700 dark:text-gray-300 transition-all duration-300;
    box-shadow: 0 0 0 0 rgba(156, 163, 175, 0);
  }

  .social-button:hover {
    @apply bg-gray-400 dark:bg-gray-600;
    box-shadow: 0 0 20px 0 rgba(156, 163, 175, 0.5);
    transform: translateY(-2px);
  }
</style>


